*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header1{
    display: flex;
    background-color: black;
    display: flex;
    color: white;

}
.primero{
    display: flex;
    background-color: black;
}
.suscribete a{
    text-decoration: none;
    background-color: black;
    color: white;
    
}
.disney a{
    text-decoration: none;
    background-color: black;
    color: white;
    margin-left: 1000px;
}
.header2{
    display: flex;
}
.tarjetas{
    display: flex;
}
.cards{
    display: flex;
}
.logo img{
    height: 60px;}

.contenedor1{
    position: relative;}
.contenedor1 p{
    position: absolute;
    color: white;
    top: 77%;
    right: 55%;
    font-size: 40px;
}
.contenedor1 h5{
    position:absolute;
    color: white;
    top:75%;
    right: 90%;
    
}
.final{
    display: flex;
}