*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header1{
    display: flex;
    background-color: black;
    display: flex;
    color: white;

}
.primero{
    display: flex;
    background-color: black;
}
.suscribete a{
    text-decoration: none;
    background-color: black;
    color: white;
    
}
.disney a{
    text-decoration: none;
    background-color: black;
    color: white;
    margin-left: 1000px;
}
.segundo{
    display: flex;

}
.iconos{
    margin-left: 1000px;
}
.tercero{
    display: flex;
    padding: 100px;
    
}
.opciones a{
    text-decoration: none;
    color: black;
    margin-left: 100px;
    
}
.tarjetas{
    display: flex;
    width: 100%;
    max-width: 1100px;
}
.tarjeta1{
    width: 100%;
    margin: 20px;
    
}
.tarjeta1 p{
    font-size: 24px;
    font-weight: 600;
}
.tarjeta2 p{
    font-size: 24px;
    font-weight: 600;
}
.tarjeta1 img{
    width: 700px;
}
.tarjeta2 img{
    width: 500px;
}
.cards{
    display: flex;
}

.logo img{
    height: 60px;}
.card1 img{
    width: 400px;
}
.card2 img{
    width: 400px;
}
.card3 img{
    width: 400px;
}
.card1{
    background-color: black;
    color: white;
}
.card2{
    background-color: black;
    color: white;
}
.card3{
    background-color: black;
    color: white;
}
.nh{
    background-color: black;
    color: white;
}
.contenedor1{
    position: relative;}
.contenedor1 p{
    position: absolute;
    color: white;
    top: 77%;
    right: 55%;
    font-size: 40px;
}
.contenedor1 h5{
    position:absolute;
    color: white;
    top:75%;
    right: 90%;
    
}
.final{
    display: flex;
}
.boton button{
    background-color: black;
    color: white;
}